<div class="container">
  <h1 class="headline">Proposals</h1>
  <div class="list-group">
    <span class="list-group-item list-group-item-action flex-column align-items-start active" *ngFor="let proposal of proposals">
      <a class="proposal-link" routerLink="/proposal/{{ proposal.id }}">
        <h5 class="list-group-item-heading">{{proposal.customer}}</h5>
        <p class="list-group-item-text">
          {{proposal.hourly_rate! * proposal.estimated_hours! | currency:'USD':true }}
        </p>
      </a>
    </span>
  </div>
</div>